[data-testid="collapsedControl"] {
    display: none
}

@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
header {{
    visibility : hidden;
    }}
body, body div, p, span {{
    font-family: 'Nanumsquare', 'Malgun Gothic' !important;
    }}
.css-qcqlej{{
    flex-grow:1;
    }}
footer {{
    visibility: visible;
    background: #2D5AF0;

    }}
.css-164nlkn {{
    display : flex;
    color : #2D5AF0;
    max-width : 100%;
    height : 4rem;
    padding-top : 1rem;
    padding-bottom : 1rem
    }}
footer a {{
    visibility: hidden;
    }}
footer {{
    font-family : "Nanumsquare";
    }}
footer:after {{
    visibility: visible; 
    content:"ⓒ 2023. 인포스톰 All rights reserved";
    font-weight: 700;
    font-size: 15px;
    color: #FFFFFF;
    align-self : center;
    }}
.css-z5fcl4 {{
padding-left : 10%;
padding-right : 10%;
padding-top : 2rem !important;
display : flex !important;  
    }}
.main-logo {{
    padding-bottom: 1rem;
}}